@media screen and (max-width: 1920px) {
  .container {
    max-width: 1300px; }

  .container__title {
    padding: 50px; }

  .Slider .slick-arrow {
    height: 50px;
    width: 50px; }

  .title {
    font-size: 70px; }

  .subtitle {
    padding-top: 7px;
    font-size: 25px; }

  .header .Slider .slick-prev.slick-arrow {
    left: 10px; }
    .header .Slider .slick-prev.slick-arrow:hover {
      top: 47%; }
  .header .Slider .slick-next.slick-arrow {
    right: 10px; }
    .header .Slider .slick-next.slick-arrow:hover {
      top: 47%; }
  .header .container .container__item:first-child {
    font-size: 18px; }
    .header .container .container__item:first-child .menu__second ul li,
    .header .container .container__item:first-child .menu__second ul li {
      margin-right: 30px; }
  .header .container .container__item:nth-child(2) .header__title {
    font-size: 160px; }
  .header .container .container__item:nth-child(2) .header__subtitle {
    font-size: 26px; }

  .FairyTail .FairyTail__item_second {
    top: 50px; }
    .FairyTail .FairyTail__item_second .Slider {
      height: 358px; }
      .FairyTail .FairyTail__item_second .Slider .slick-arrow {
        height: 35px;
        width: 35px; }
      .FairyTail .FairyTail__item_second .Slider .slick-prev.slick-arrow {
        left: 5px; }
        .FairyTail .FairyTail__item_second .Slider .slick-prev.slick-arrow:hover {
          top: 45%; }
      .FairyTail .FairyTail__item_second .Slider .slick-next.slick-arrow {
        right: 5px; }
        .FairyTail .FairyTail__item_second .Slider .slick-next.slick-arrow:hover {
          top: 45%; }
    .FairyTail .FairyTail__item_second .FairyTail.text p {
      font-size: 20px;
      line-height: 27px; }
    .FairyTail .FairyTail__item_second .FairyTail.text p + p {
      padding-top: 15px !important; }

  .OurTrip .onescreen .container__item_second .days {
    height: 675px; }
    .OurTrip .onescreen .container__item_second .days .text__blok {
      height: 230px;
      width: 300px; }
      .OurTrip .onescreen .container__item_second .days .text__blok .text__title {
        font-size: 26px; }
      .OurTrip .onescreen .container__item_second .days .text__blok p {
        font-size: 20px;
        line-height: 27px; }
  .OurTrip .onescreen .container__item_second .Slider {
    height: 556px; }
    .OurTrip .onescreen .container__item_second .Slider .slick-arrow {
      height: 35px;
      width: 35px; }
    .OurTrip .onescreen .container__item_second .Slider .slick-prev.slick-arrow {
      left: 7px; }
      .OurTrip .onescreen .container__item_second .Slider .slick-prev.slick-arrow:hover {
        top: 47%; }
    .OurTrip .onescreen .container__item_second .Slider .slick-next.slick-arrow {
      right: 7px; }
      .OurTrip .onescreen .container__item_second .Slider .slick-next.slick-arrow:hover {
        top: 47%; }
    .OurTrip .onescreen .container__item_second .Slider img {
      height: 100%;
      width: 100%; }

  .Hotel .container .container__item__second img {
    height: 636px; }
  .Hotel .container .container__item__second .text p {
    font-size: 20px;
    line-height: 27px; }
  .Hotel .container .container__item__second .text .text_images .blok {
    height: 150px;
    width: 213px; }
    .Hotel .container .container__item__second .text .text_images .blok .blok__background .blok__text {
      font-size: 20px; }

  .Attractions .Slider .item .item__text ul {
    font-size: 17px;
    line-height: 22px; }
  .Attractions .Slider .item .item__text .text__tittle {
    font-size: 26px; }
  .Attractions .Slider .item .item__text p {
    font-size: 20px;
    line-height: 27px; }

  .Price .container {
    height: 70%; }
    .Price .container .container__item__second {
      padding-top: 0;
      margin: 0; }
      .Price .container .container__item__second .blok__title {
        padding-bottom: 20px; }
      .Price .container .container__item__second p {
        font-size: 20px;
        line-height: 27px; }
      .Price .container .container__item__second .blok_second .bigBalloon {
        top: -38%;
        right: 7%; }
      .Price .container .container__item__second .blok_second .smallBallon {
        top: 91%;
        right: 35%; }
      .Price .container .container__item__second .blok_second .smallBallon__second {
        top: 71%;
        right: 14%; }

  .BookNow .container {
    height: 100%; }
  .BookNow .container__item__threeth .blok__text {
    padding-top: 70px; }
  .BookNow .container__item__threeth form {
    padding-top: 50px;
    top: 270px; }
  .BookNow .container__item__threeth .photo img {
    margin-top: 70px;
    width: 450px;
    height: 550px; }

  .footer div.balloon:nth-child(15) {
    font-size: 20px;
    padding-top: 105px; }
    .footer div.balloon:nth-child(15) .number {
      padding: 5px; }
    .footer div.balloon:nth-child(15) .socoial__media ul {
      padding-top: 15px; }
      .footer div.balloon:nth-child(15) .socoial__media ul img:hover {
        height: 40px;
        width: 40px; } }
@media screen and (max-width: 1441px) {
  .Hotel .container .container__item__second img {
    height: 550px; }
  .Hotel .container .container__item__second .text {
    padding-left: 0; }
    .Hotel .container .container__item__second .text .text_images .blok {
      height: 112px;
      width: 269px; }

  .Attractions .Slider {
    height: 570px; }

  .Price .container .container__item__second .blok_second .bigBalloon {
    height: 250px; }
  .Price .container .container__item__second .blok_second .smallBallon {
    height: 90px;
    top: 75%; }
  .Price .container .container__item__second .blok_second .smallBallon__second {
    height: 90px;
    top: 58%; }

  .BookNow .container__item__threeth .photo img {
    margin-top: 30px;
    width: 430px;
    height: 535px; }
  .BookNow .container__item__threeth .blok__text {
    padding-top: 30px; }

  .footer div.balloon:nth-child(15) {
    padding-top: 60px; } }
@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px; }

  .container__title {
    padding: 30px;
    padding-bottom: 25px; }

  .title {
    font-size: 50px;
    padding-left: 0 !important; }

  .subtitle {
    font-size: 20px; }

  .UPButton {
    height: 40px;
    width: 45px;
    right: 2%;
    bottom: 2%; }

  .header .Slider .slick-arrow {
    height: 35px;
    width: 35px; }
    .header .Slider .slick-arrow:hover {
      top: 49%; }
  .header .Slider .slick-prev.slick-arrow {
    left: 15px; }
  .header .Slider .slick-next.slick-arrow {
    right: 15px; }
  .header .container .container__item:first-child {
    padding-top: 7%;
    font-size: 21px; }
    .header .container .container__item:first-child .menu__second ul li,
    .header .container .container__item:first-child .menu__first ul li {
      margin-right: 20px; }
  .header .container .container__item:nth-child(2) .header__title {
    font-size: 135px; }
  .header .container .container__item:nth-child(2) .header__subtitle {
    font-size: 26px; }

  .FairyTail .onescreen .container .FairyTail__item_second {
    top: 20px; }
    .FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text {
      width: 100%;
      margin-left: 10px; }
      .FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text p {
        font-size: 15px;
        line-height: 20px; }
    .FairyTail .onescreen .container .FairyTail__item_second .Slider {
      height: 175px;
      margin: 0 auto 50px;
      width: 50%; }
      .FairyTail .onescreen .container .FairyTail__item_second .Slider .slick-arrow {
        height: 25px;
        width: 25px; }
        .FairyTail .onescreen .container .FairyTail__item_second .Slider .slick-arrow:hover {
          top: 43%; }

  .OurTrip .onescreen .container__item_second .Slider {
    margin: 0 auto 30px;
    height: 460px;
    width: 42%; }
    .OurTrip .onescreen .container__item_second .Slider .slick-arrow:hover {
      top: 45%; }
  .OurTrip .onescreen .container__item_second .days {
    height: 571px;
    width: 58%; }
    .OurTrip .onescreen .container__item_second .days .text__blok {
      height: 174px;
      width: 230px; }
      .OurTrip .onescreen .container__item_second .days .text__blok p {
        font-size: 15px;
        line-height: 20px; }

  .Hotel .container__item__second {
    display: flex; }
    .Hotel .container__item__second img {
      display: none; }

  .Attractions .Slider {
    height: 380px; }
    .Attractions .Slider .item {
      padding: 10px; }
      .Attractions .Slider .item .item__text {
        padding: 10px; }
        .Attractions .Slider .item .item__text ul {
          font-size: 12px;
          line-height: 15px; }
        .Attractions .Slider .item .item__text .text__tittle {
          font-size: 20px; }
        .Attractions .Slider .item .item__text p {
          font-size: 15px;
          line-height: 20px; }

  .Price .container .container__item__second {
    padding-top: 0;
    margin: 0;
    padding-left: 25px; }
    .Price .container .container__item__second .blok__title {
      font-size: 21px;
      padding-bottom: 10px; }
    .Price .container .container__item__second p {
      font-size: 15px;
      line-height: 20px; }
    .Price .container .container__item__second .blok_second .bigBalloon {
      top: -22%;
      height: 170px; }
    .Price .container .container__item__second .blok_second .smallBallon {
      height: 70px;
      top: 75%; }
    .Price .container .container__item__second .blok_second .smallBallon__second {
      height: 70px;
      top: 58%;
      right: 10%; }

  .BookNow .container__item__threeth .photo img {
    margin-top: 30px;
    width: 327px;
    height: 448px; }
  .BookNow .container__item__threeth .blok__text {
    padding-top: 30px; }
    .BookNow .container__item__threeth .blok__text .title {
      right: 93px; }
    .BookNow .container__item__threeth .blok__text .subtitle {
      right: 60px; }
  .BookNow .container__item__threeth form {
    padding-top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 250px;
    right: 60px; }
    .BookNow .container__item__threeth form input {
      display: block;
      margin: 0;
      font-size: 15px;
      height: 40px;
      width: 100%; }
    .BookNow .container__item__threeth form .OpenPop_upBtn {
      width: 100% !important; }
    .BookNow .container__item__threeth form h1 {
      font-size: 20px;
      padding-bottom: 10px; }

  .footer div.balloon:nth-child(15) {
    height: 60%;
    width: 45%; } }
@media (max-width: 1024px) and (max-height: 1366px) {
  img {
    border-radius: 0; }

  .title {
    font-size: 70px; }

  .subtitle {
    font-size: 23px; }

  .FairyTail .onescreen .container .FairyTail__item_second {
    flex-direction: column;
    height: 80%; }
    .FairyTail .onescreen .container .FairyTail__item_second .Slider {
      height: 45%;
      width: 70%; }
    .FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text {
      height: 50%; }
      .FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text p {
        font-size: 23px;
        line-height: 29px; }

  .OurTrip .onescreen .container__item_second {
    flex-direction: column-reverse; }
    .OurTrip .onescreen .container__item_second .Slider {
      height: 556px;
      width: 50%; }
    .OurTrip .onescreen .container__item_second .days {
      width: 100%;
      margin-top: 50px; }
      .OurTrip .onescreen .container__item_second .days .text__blok {
        height: 231px;
        width: 317px; }
        .OurTrip .onescreen .container__item_second .days .text__blok p {
          font-size: 23px;
          line-height: 29px;
          padding-top: 10px; }

  .Hotel .container .container__item__second .text p {
    font-size: 23px;
    line-height: 29px; }
  .Hotel .container .container__item__second .text .text_images {
    grid-template-columns: 1fr; }
    .Hotel .container .container__item__second .text .text_images .blok {
      height: 115px;
      width: 100%; }
      .Hotel .container .container__item__second .text .text_images .blok .blok__background .blok__text {
        font-size: 23px;
        line-height: 29px; }

  .Attractions .title {
    top: 100px; }
  .Attractions .Slider {
    height: auto; }
    .Attractions .Slider .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse; }
      .Attractions .Slider .item .item__pictures {
        width: 100%;
        margin-bottom: 10px; }
      .Attractions .Slider .item .item__text {
        width: 100%; }
        .Attractions .Slider .item .item__text .text__tittle {
          font-size: 25px; }
        .Attractions .Slider .item .item__text p {
          font-size: 23px;
          line-height: 29px; }

  .Price .container .container__item__second p {
    font-size: 23px;
    line-height: 34px; }
  .Price .container .container__item__second .blok_second .bigBalloon {
    right: 20%;
    top: 62%;
    height: 250px; }
  .Price .container .container__item__second .blok_second .smallBallon {
    height: 103px;
    top: 113%;
    right: 56%; }
  .Price .container .container__item__second .blok_second .smallBallon__second {
    height: 119px;
    top: 121%;
    right: 12%; }

  .BookNow .container .container__item__threeth {
    flex-direction: column-reverse;
    align-items: center; }
    .BookNow .container .container__item__threeth .photo {
      width: auto; }
      .BookNow .container .container__item__threeth .photo img {
        width: auto;
        height: 500px; }
    .BookNow .container .container__item__threeth form {
      width: 350px; }
      .BookNow .container .container__item__threeth form input {
        margin: 10px;
        font-size: 23px;
        height: 60px;
        width: 100%; }
      .BookNow .container .container__item__threeth form h1 {
        font-size: 23px;
        padding: 15px; }

  .footer div.balloon:nth-child(15) {
    font-size: 32px;
    padding-top: 175px; }
    .footer div.balloon:nth-child(15) .title {
      font-size: 90px; }
    .footer div.balloon:nth-child(15) .number {
      padding: 10px; }
    .footer div.balloon:nth-child(15) .socoial__media ul img {
      height: 50px;
      width: 50px;
      margin-top: 10px; }
      .footer div.balloon:nth-child(15) .socoial__media ul img:hover {
        height: 55px;
        width: 55px;
        border-radius: 50%; } }
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 700px; }

  .header__body {
    display: block;
    height: 70px;
    width: 100%;
    background-color: #333333;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    right: 0; }
    .header__body .header__burger {
      position: absolute;
      right: 35px;
      height: 100%;
      width: 55px;
      z-index: 3;
      top: 50%;
      transform: translateY(-50%); }
      .header__body .header__burger span {
        position: absolute;
        top: 50%;
        display: block;
        height: 4px;
        width: 100%;
        background-color: white; }
        .header__body .header__burger span::before {
          content: "";
          display: block;
          height: 4px;
          background-color: white;
          transform: translateY(-20px);
          transition: all .5s;
          position: relative; }
        .header__body .header__burger span::after {
          content: "";
          display: block;
          height: 4px;
          background-color: white;
          transform: translateY(16px);
          transition: all .5s; }
      .header__body .header__burger.Action span {
        height: 0; }
        .header__body .header__burger.Action span::before {
          transform: rotate(-45deg);
          top: 3px; }
        .header__body .header__burger.Action span::after {
          transform: rotate(45deg); }

  .header__menu .header__list {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #333333;
    height: 100%;
    z-index: 2;
    display: none; }
    .header__menu .header__list ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .header__menu .header__list ul li {
        position: relative;
        font-size: 23px;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px; }
        .header__menu .header__list ul li a {
          display: block;
          height: 100%;
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 44px;
          color: white; }

  .header .container .container__item:first-child {
    display: none; } }

/*# sourceMappingURL=adaptive.css.map */
