@media (max-width: 2100px) {
  .container {
    padding: 0 40px; }

  .parallax {
    height: 600px; }

  p {
    font-size: 26px;
    line-height: 35px; }

  .container__title {
    padding: 0 70px 35px; }

  .OurTrip .container__item_second .days .text__blok .text__title {
    font-size: 30px; }

  .FairyTail.container__inner .FairyTail__content .FairyTail.text p + p {
    padding-top: 10px; }

  .Price .container__item__second {
    padding: 30px; }
    .Price .container__item__second .blok__title {
      padding-bottom: 20px; }

  .Price .container__item__second .blok_first p + p,
  .Price .container__item__second .blok_second p + p {
    padding-top: 15px; } }
@media (max-width: 2020px) {
  .Hotel .container__item__second {
    grid-template-columns: 1fr 3fr; }
    .Hotel .container__item__second .text .text_images .blok {
      height: 200px;
      width: 350px; } }
@media (max-width: 1827px) {
  .Hotel .container__item__second .text .text_images {
    grid-template-columns: repeat(2, 1fr); }

  .Hotel .container__item__second .text .text_images .blok {
    width: 100%; }

  .footer div.balloon:nth-child(15) {
    width: 23%; } }
@media (max-width: 1601px) {
  .Hotel .container__item__second .text .text_images .blok {
    height: 150px; }

  .menu__backgrount__blok {
    padding: 3%; } }
@media (max-width: 1501px) {
  .menu {
    padding: 1%;
    font-size: 18px; }
    .menu ul li {
      margin-right: 29px; }

  .menu__backgrount__blok {
    padding: 2%; }

  .parallax {
    height: 400px; }

  p {
    font-size: 22px;
    line-height: 30px; }

  .header .container .container__item:nth-child(2) .header__title {
    font-size: 150px; }

  .title {
    font-size: 50px; }

  .subtitle {
    padding-top: 0;
    font-size: 23px; }

  .container__inner {
    margin: 30px 0; }

  .container__title {
    padding: 0 70px 25px; }

  .Price .container__inner {
    width: 90%;
    margin: 30px auto; }

  .Price .container__item__second .blok_second .smallBallon {
    width: 10%; }
  .Price .container__item__second .blok_second .bigBalloon {
    top: -35%;
    height: 57%; }

  .Attractions .Attractions__Slider {
    max-height: 80%; }
    .Attractions .Attractions__Slider .item {
      display: flex;
      padding: 20px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center; }
      .Attractions .Attractions__Slider .item .text__tittle {
        font-size: 26px; }
      .Attractions .Attractions__Slider .item .item__text {
        width: 100%;
        padding: 15px 0; }
        .Attractions .Attractions__Slider .item .item__text ul,
        .Attractions .Attractions__Slider .item .item__text p {
          font-size: 18px;
          line-height: 23px;
          padding-left: 10px; }
      .Attractions .Attractions__Slider .item .item__pictures {
        width: 100%; }
      .Attractions .Attractions__Slider .item img {
        max-width: 50%; }

  .Hotel .container__item__second .text {
    margin-left: 30px; }

  .Hotel .container__item__second p + p {
    padding-top: 10px; }

  .Hotel .container__item__second .text p:nth-child(3) {
    padding-bottom: 20px; }

  .Hotel .container__item__second .text .text_images {
    grid-gap: 15px; }

  .Hotel .container__item__second .text .text_images .blok.first, .Hotel .container__item__second .text .text_images .blok.second, .Hotel .container__item__second .text .text_images .blok.threeth, .Hotel .container__item__second .text .text_images .blok.fourth, .Hotel .container__item__second .text .text_images .blok.fifth, .Hotel .container__item__second .text .text_images .blok.sixth {
    height: 120px; }
    .Hotel .container__item__second .text .text_images .blok.first .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.second .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.threeth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fourth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fifth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.sixth .blok__background .blok__text {
      font-size: 23px; }

  .BookNow .container__item__threeth .photo {
    display: flex;
    justify-content: center; }
    .BookNow .container__item__threeth .photo img {
      max-width: 60%; }

  .BookNow .container__item__threeth .blok__text .title {
    right: 0; }
  .BookNow .container__item__threeth .blok__text .subtitle {
    right: 0; }
  .BookNow .container__item__threeth .blok__text form {
    top: auto;
    padding-top: 0;
    right: 0; }
    .BookNow .container__item__threeth .blok__text form h1 {
      padding-bottom: 30px; }

  .footer div.balloon:nth-child(15) {
    width: 32%;
    height: 80%; } }
@media (max-width: 1401px) {
  p {
    font-size: 18px;
    line-height: 25px; }

  .OurTrip .container__item_second .days .text__blok .text__title {
    font-size: 23px; }

  .Price .container__item__second .blok_first p + p,
  .Price .container__item__second .blok_second p + p {
    padding-top: 10px; }

  .Price .container__item__second .blok__title {
    padding-bottom: 10px;
    font-size: 23px; }

  .Price .container__item__second .blok_second {
    padding-left: 50px; }

  .Attractions .Attractions__Slider .item .text__tittle {
    font-size: 23px; }

  .BookNow .container__item__threeth .blok__text form h1 {
    padding-top: 30px;
    padding-bottom: 0; }

  .footer div.balloon:nth-child(15) {
    padding-top: 22%; } }
@media (max-width: 1201px) {
  .FairyTail.container__inner .FairyTail__content {
    flex-direction: column;
    align-items: center; }

  .FairyTail.container__inner .FairyTail__content .FairyTail.text {
    width: 100%;
    margin: 15px 0; }

  .OurTrip .container__item_second .days .text__blok {
    border-radius: 20px;
    padding: 15px; }

  .footer div.balloon:nth-child(15) {
    padding-top: 28%; } }
@media (max-width: 1051px) {
  p {
    font-size: 17px;
    line-height: 22px; }

  .FairyTail.container__inner
  .FairyTail__content
  .FairyTail__Slider
  .slick-arrow,
  .OurTrip .container__item_second .OurTrip_Slider .slick-arrow,
  .Pop_up.Active .Pop_up__window .Pop_up__slider .slick-arrow {
    height: 30px;
    width: 30px; }
    .FairyTail.container__inner
    .FairyTail__content
    .FairyTail__Slider
    .slick-arrow.slick-arrow:hover,
    .OurTrip .container__item_second .OurTrip_Slider .slick-arrow.slick-arrow:hover,
    .Pop_up.Active .Pop_up__window .Pop_up__slider .slick-arrow.slick-arrow:hover {
      transform: scale(1.35);
      top: 46%; }

  .slick-prev.slick-arrow {
    left: 2px; }

  .slick-next.slick-arrow {
    right: 2px; }

  .Hotel .container__item__second .text .text_images {
    grid-template-columns: 1fr; }

  .Hotel .container__item__second .text .text_images .blok.first, .Hotel .container__item__second .text .text_images .blok.second, .Hotel .container__item__second .text .text_images .blok.threeth, .Hotel .container__item__second .text .text_images .blok.fourth, .Hotel .container__item__second .text .text_images .blok.fifth, .Hotel .container__item__second .text .text_images .blok.sixth {
    height: 50px; }
    .Hotel .container__item__second .text .text_images .blok.first .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.second .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.threeth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fourth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fifth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.sixth .blok__background .blok__text {
      font-size: 18px; }

  .footer div.balloon:nth-child(15) {
    padding-top: 32%;
    width: 35%; }

  .Pop_up.Active .Pop_up__window {
    height: 30%; }

  .OurTrip .container__item_second .days {
    grid-row-gap: 20px; }

  div.balloon:nth-child(1) {
    display: none; }

  .Pop_up.Active .Pop_up__window {
    height: 45%; }

  .Pop_up.Active .Pop_up__window__Book {
    width: 75%; } }
@media (max-width: 851px) {
  .container {
    padding: 0 20px; }

  .header .container .container__item__threeth div.balloon:nth-child(1) {
    right: 23px; }

  .FairyTail.container__inner .container__title .title,
  .FairyTail.container__inner .container__title .subtitle {
    padding: 0; }

  .FairyTail.container__inner .FairyTail__content .FairyTail__Slider {
    width: 65%; }

  .Price .container__inner {
    width: 100%; }
    .Price .container__inner .subtitle {
      left: 0; }
    .Price .container__inner .container__item__second .blok_second {
      padding-left: 35px; }
      .Price .container__inner .container__item__second .blok_second .bigBalloon {
        top: -39%;
        height: 43%;
        right: 2%; }
      .Price .container__inner .container__item__second .blok_second .smallBallon {
        width: 14%;
        top: 57%;
        right: 37%; }

  .Attractions .Attractions__Slider {
    width: 75%; }

  .OurTrip .subtitle {
    left: 0; }
  .OurTrip .container__item_second {
    flex-direction: column-reverse;
    align-items: center; }
    .OurTrip .container__item_second .OurTrip_Slider {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px; }
    .OurTrip .container__item_second .days {
      grid-column-gap: 50px;
      grid-row-gap: 30px; }
      .OurTrip .container__item_second .days .text__blok {
        width: 100%;
        height: 100%; }

  .slick-arrow:hover {
    transform: scale(1.2);
    top: 46%; }

  .menu,
  .menu__backgrount__blok {
    display: none; }

  .burger___menu {
    position: fixed;
    height: 60px;
    z-index: 2006;
    width: auto;
    right: 0; }
    .burger___menu .burger {
      position: absolute;
      right: 15px;
      top: 0;
      height: 100%;
      width: 60px; }
      .burger___menu .burger span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 6px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.507);
        border-radius: 9px; }
        .burger___menu .burger span::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: -19px;
          background-color: rgba(0, 0, 0, 0.507);
          transition: all 0.5s;
          border-radius: 9px; }
        .burger___menu .burger span::after {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: 17px;
          background-color: rgba(0, 0, 0, 0.507);
          transition: all 0.5s;
          border-radius: 9px; }
      .burger___menu .burger.Active span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.507); }
        .burger___menu .burger.Active span::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: 0px;
          background-color: rgba(0, 0, 0, 0.507);
          transform: rotate(-45deg);
          border-radius: 9px; }
        .burger___menu .burger.Active span::after {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: 0px;
          background-color: rgba(0, 0, 0, 0.507);
          transform: rotate(45deg);
          border-radius: 9px; }

  .menu {
    display: none;
    background-color: chocolate;
    text-align: center;
    padding: 0;
    position: fixed;
    height: 100%;
    z-index: 1005; }
    .menu.Active {
      display: block;
      z-index: 2001; }
    .menu ul li {
      display: block;
      margin: 0;
      border-top: 2px solid rgba(0, 0, 0, 0.514);
      padding-bottom: 0; }
      .menu ul li:hover {
        border-bottom: none; }
      .menu ul li a {
        display: block;
        padding: 25px;
        font-size: 25px; }

  .Hotel .container__title .subtitle {
    left: 0; }
  .Hotel .container__item__second {
    grid-template-columns: 1fr; }
    .Hotel .container__item__second .photo {
      display: none; }
    .Hotel .container__item__second .text {
      margin-left: 0; }
      .Hotel .container__item__second .text .text_images .blok.first, .Hotel .container__item__second .text .text_images .blok.second, .Hotel .container__item__second .text .text_images .blok.threeth, .Hotel .container__item__second .text .text_images .blok.fourth, .Hotel .container__item__second .text .text_images .blok.fifth, .Hotel .container__item__second .text .text_images .blok.sixth {
        height: 75px; }
        .Hotel .container__item__second .text .text_images .blok.first .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.second .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.threeth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fourth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fifth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.sixth .blok__background .blok__text {
          font-size: 18px; }

  .BookNow .container__item__threeth .blok__text .title,
  .BookNow .container__item__threeth .blok__text .subtitle {
    text-align: center; }
  .BookNow .container__item__threeth .blok__text form {
    position: relative; }
  .BookNow .container__item__threeth .photo {
    width: 50%; }
    .BookNow .container__item__threeth .photo img {
      max-width: 85%; }

  .footer div.balloon:nth-child(15) {
    padding-top: 30%;
    width: 53%; }

  .Pop_up.Active .Pop_up__window {
    height: 72%;
    display: flex;
    flex-direction: column; }
  .Pop_up.Active .Pop_up__window__Book {
    height: 40%; } }
@media (max-width: 600px) {
  .header .container .container__item:nth-child(2) .header__subtitle {
    font-size: 27px;
    padding-right: 9%; }

  .header .container .container__item:nth-child(2) .header__title {
    font-size: 120px; }

  .Attractions .Attractions__Slider .slick-next.slick-arrow {
    right: -20%; }

  .Attractions .Attractions__Slider .slick-prev.slick-arrow {
    left: -20%; }

  .BookNow .container__item__threeth {
    flex-direction: column-reverse;
    align-items: center; }
    .BookNow .container__item__threeth .blok__text {
      width: auto; }
    .BookNow .container__item__threeth .photo {
      display: none; }
    .BookNow .container__item__threeth .photo__mobile {
      display: block; }

  .Price .container__inner .container__item__second .blok_second {
    padding-left: 20px; }

  .OurTrip .container__item_second .days {
    width: 100%;
    grid-gap: 30px; }
  .OurTrip .container__item_second .OurTrip_Slider {
    display: none; }

  .footer div.balloon:nth-child(15) {
    padding-top: 31%;
    width: 57%; } }
@media (max-width: 450px) {
  .UPButton {
    height: 50px;
    width: 50px;
    right: 2%;
    bottom: 2%; }

  .container {
    padding: 0px 10px; }

  .container__inner {
    margin: 15px 0; }

  .container__title {
    padding: 10px 0; }

  .parallax {
    height: 150px; }

  p {
    font-size: 13px;
    line-height: 16px; }

  .subtitle {
    font-size: 18px;
    padding: 5px 0; }

  .header .container .container__item:nth-child(2) .header__title {
    font-size: 70px; }

  .header .container .container__item:nth-child(2) .header__subtitle {
    font-size: 23px;
    padding-right: 0; }

  .burger___menu {
    height: 50px; }
    .burger___menu .burger {
      width: 45px; }
      .burger___menu .burger span::before {
        top: -14px; }
      .burger___menu .burger span::after {
        top: 14px; }

  .FairyTail.container__inner .FairyTail__content .FairyTail__Slider {
    width: 100%; }
  .FairyTail.container__inner .FairyTail__content .FairyTail.text {
    border-radius: 10px;
    padding: 15px;
    text-align: justify; }
    .FairyTail.container__inner .FairyTail__content .FairyTail.text p + p {
      padding-top: 5px; }

  .OurTrip .container__item_second .days {
    grid-gap: 15px; }
    .OurTrip .container__item_second .days .text__blok {
      padding: 10px;
      border-radius: 10px; }
      .OurTrip .container__item_second .days .text__blok p {
        line-height: 19px; }
      .OurTrip .container__item_second .days .text__blok .text__title {
        font-size: 18px;
        padding-bottom: 5px; }

  .Price .container__inner {
    border-radius: 10px;
    padding-bottom: 10px; }
    .Price .container__inner .container__title {
      padding-bottom: 0; }
    .Price .container__inner .title {
      margin: 0; }
    .Price .container__inner .container__item__second {
      padding: 0 10px;
      flex-direction: column; }
      .Price .container__inner .container__item__second .blok_first,
      .Price .container__inner .container__item__second .blok_second {
        padding-left: 0;
        width: 100%;
        text-align: justify; }
        .Price .container__inner .container__item__second .blok_first .blok__title,
        .Price .container__inner .container__item__second .blok_second .blok__title {
          padding-bottom: 0;
          font-size: 18px;
          text-align: center; }
        .Price .container__inner .container__item__second .blok_first p + p,
        .Price .container__inner .container__item__second .blok_second p + p {
          padding-top: 5px; }
        .Price .container__inner .container__item__second .blok_first .bigBalloon,
        .Price .container__inner .container__item__second .blok_second .bigBalloon {
          top: -204%;
          height: 69%;
          right: -14%; }
        .Price .container__inner .container__item__second .blok_first .smallBallon,
        .Price .container__inner .container__item__second .blok_second .smallBallon {
          width: 22%;
          top: -244%;
          right: 92%; }
        .Price .container__inner .container__item__second .blok_first .smallBallon__second,
        .Price .container__inner .container__item__second .blok_second .smallBallon__second {
          top: 86%;
          right: -3%; }

  .Attractions .container__inner .title {
    margin-bottom: 10px; }
  .Attractions .container__inner .Attractions__Slider {
    width: 100%; }
    .Attractions .container__inner .Attractions__Slider .item {
      padding: 10px 0px 0; }
      .Attractions .container__inner .Attractions__Slider .item .text__tittle {
        font-size: 18px; }
      .Attractions .container__inner .Attractions__Slider .item .item__text {
        padding: 10px 5px 17px; }
        .Attractions .container__inner .Attractions__Slider .item .item__text p,
        .Attractions .container__inner .Attractions__Slider .item .item__text ul {
          padding: 5px 0;
          font-size: 13px;
          line-height: 16px; }
      .Attractions .container__inner .Attractions__Slider .item img {
        max-width: 100%; }

  .Hotel.container__inner .container__title {
    padding: 0; }
  .Hotel.container__inner .container__item__second .text {
    text-align: justify; }
    .Hotel.container__inner .container__item__second .text p + p {
      padding-top: 5px; }

  .BookNow .container__item__threeth .blok__text .title {
    font-size: 40px; }
  .BookNow .container__item__threeth .blok__text .subtitle {
    padding: 0; }
  .BookNow .container__item__threeth .blok__text form h1 {
    padding-top: 10px;
    font-size: 18px; }
  .BookNow .container__item__threeth .blok__text form input {
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px; }
  .BookNow .container__item__threeth .blok__text form label {
    display: none; }

  .BookNow .container__title {
    padding: 0px; }
  .BookNow .container__item__threeth .photo__mobile img {
    width: 100%; }
  .BookNow .container__item__threeth .blok__text form {
    width: 100%; }

  .footer div.balloon:nth-child(15) {
    width: 93%;
    font-size: 20px; }
    .footer div.balloon:nth-child(15) .number {
      padding-top: 17px; }
    .footer div.balloon:nth-child(15) .email {
      padding: 0px; }
    .footer div.balloon:nth-child(15) .socoial__media ul {
      padding-top: 19px; }

  .Pop_up.Active .Pop_up__window {
    padding: 0;
    width: 86%; }
    .Pop_up.Active .Pop_up__window .windows__content {
      font-size: 15px;
      line-height: 22px; }
      .Pop_up.Active .Pop_up__window .windows__content .about__room {
        margin: 0; }
    .Pop_up.Active .Pop_up__window .ClosePop-up {
      height: 30px;
      width: 30px;
      padding: 0;
      font-size: 21px; }

  .Pop_up.Active .Pop_up__window__Book {
    height: 62%; }
    .Pop_up.Active .Pop_up__window__Book .windows__content .photo_popup {
      display: none; }
    .Pop_up.Active .Pop_up__window__Book .windows__content .window__text {
      width: 100%;
      font-size: 17px;
      line-height: 24px; }
      .Pop_up.Active .Pop_up__window__Book .windows__content .window__text button {
        height: 35px; } }

/*# sourceMappingURL=adaptive.css.map */
