@media (max-width: 2100px) {
  .container {
    padding: 0 40px; }

  .parallax {
    height: 600px; }

  p {
    font-size: 26px;
    line-height: 35px; }

  .container__title {
    padding: 0 70px 35px; }

  .OurTrip .container__item_second .days .text__blok .text__title {
    font-size: 30px; }

  .FairyTail.container__inner .FairyTail__content .FairyTail.text p + p {
    padding-top: 10px; }

  .Price .container__item__second {
    padding: 30px; }
    .Price .container__item__second .blok__title {
      padding-bottom: 20px; }

  .Price .container__item__second .blok_first p + p,
  .Price .container__item__second .blok_second p + p {
    padding-top: 15px; } }
@media (max-width: 2020px) {
  .Hotel .container__item__second {
    grid-template-columns: 1fr 3fr; }
    .Hotel .container__item__second .text .text_images .blok {
      height: 200px;
      width: 350px; } }
@media (max-width: 1827px) {
  .Hotel .container__item__second .text .text_images {
    grid-template-columns: repeat(2, 1fr); }

  .Hotel .container__item__second .text .text_images .blok {
    width: 100%; }

  .footer div.balloon:nth-child(15) {
    width: 23%; } }
@media (max-width: 1601px) {
  .Hotel .container__item__second .text .text_images .blok {
    height: 150px; }

  .menu__backgrount__blok {
    padding: 3%; } }
@media (max-width: 1501px) {
  .menu {
    padding: 1%;
    font-size: 18px; }
    .menu ul li {
      margin-right: 29px; }

  .menu__backgrount__blok {
    padding: 2%; }

  .parallax {
    height: 400px; }

  p {
    font-size: 22px;
    line-height: 30px; }

  .header .container .container__item:nth-child(2) .header__title {
    font-size: 150px; }

  .title {
    font-size: 50px; }

  .subtitle {
    padding-top: 0;
    font-size: 23px; }

  .container__inner {
    margin: 30px 0; }

  .container__title {
    padding: 0 70px 25px; }

  .Price .container__inner {
    width: 90%;
    margin: 30px auto; }

  .Price .container__item__second .blok_second .smallBallon {
    width: 10%; }
  .Price .container__item__second .blok_second .bigBalloon {
    top: -35%;
    height: 57%; }

  .Attractions .Attractions__Slider {
    max-height: 80%; }
    .Attractions .Attractions__Slider .item {
      display: flex;
      padding: 20px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center; }
      .Attractions .Attractions__Slider .item .text__tittle {
        font-size: 26px; }
      .Attractions .Attractions__Slider .item .item__text {
        width: 100%;
        padding: 15px 0; }
        .Attractions .Attractions__Slider .item .item__text ul,
        .Attractions .Attractions__Slider .item .item__text p {
          font-size: 18px;
          line-height: 23px;
          padding-left: 10px; }
      .Attractions .Attractions__Slider .item .item__pictures {
        width: 100%; }
      .Attractions .Attractions__Slider .item img {
        max-width: 50%; }

  .Hotel .container__item__second .text {
    margin-left: 30px; }

  .Hotel .container__item__second p + p {
    padding-top: 10px; }

  .Hotel .container__item__second .text p:nth-child(3) {
    padding-bottom: 20px; }

  .Hotel .container__item__second .text .text_images {
    grid-gap: 15px; }

  .Hotel .container__item__second .text .text_images .blok.first, .Hotel .container__item__second .text .text_images .blok.second, .Hotel .container__item__second .text .text_images .blok.threeth, .Hotel .container__item__second .text .text_images .blok.fourth, .Hotel .container__item__second .text .text_images .blok.fifth, .Hotel .container__item__second .text .text_images .blok.sixth {
    height: 120px; }
    .Hotel .container__item__second .text .text_images .blok.first .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.second .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.threeth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fourth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fifth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.sixth .blok__background .blok__text {
      font-size: 23px; }

  .BookNow .container__item__threeth .photo {
    display: flex;
    justify-content: center; }
    .BookNow .container__item__threeth .photo img {
      max-width: 60%; }

  .BookNow .container__item__threeth .blok__text .title {
    right: 0; }
  .BookNow .container__item__threeth .blok__text .subtitle {
    right: 0; }
  .BookNow .container__item__threeth .blok__text form {
    top: auto;
    padding-top: 0;
    right: 0; }
    .BookNow .container__item__threeth .blok__text form h1 {
      padding-bottom: 30px; }

  .footer div.balloon:nth-child(15) {
    width: 32%;
    height: 80%; } }
@media (max-width: 1401px) {
  p {
    font-size: 18px;
    line-height: 25px; }

  .OurTrip .container__item_second .days .text__blok .text__title {
    font-size: 23px; }

  .Price .container__item__second .blok_first p + p,
  .Price .container__item__second .blok_second p + p {
    padding-top: 10px; }

  .Price .container__item__second .blok__title {
    padding-bottom: 10px;
    font-size: 23px; }

  .Price .container__item__second .blok_second {
    padding-left: 50px; }

  .Attractions .Attractions__Slider .item .text__tittle {
    font-size: 23px; }

  .BookNow .container__item__threeth .blok__text form h1 {
    padding-top: 30px;
    padding-bottom: 0; }

  .footer div.balloon:nth-child(15) {
    padding-top: 22%; } }
@media (max-width: 1201px) {
  .FairyTail.container__inner .FairyTail__content {
    flex-direction: column;
    align-items: center; }

  .FairyTail.container__inner .FairyTail__content .FairyTail.text {
    width: 100%;
    margin: 15px 0; }

  .OurTrip .container__item_second .days .text__blok {
    border-radius: 20px;
    padding: 15px; }

  .footer div.balloon:nth-child(15) {
    padding-top: 28%; } }
@media (max-width: 1051px) {
  p {
    font-size: 17px;
    line-height: 22px; }

  .FairyTail.container__inner
  .FairyTail__content
  .FairyTail__Slider
  .slick-arrow,
  .OurTrip .container__item_second .OurTrip_Slider .slick-arrow,
  .Pop_up.Active .Pop_up__window .Pop_up__slider .slick-arrow {
    height: 30px;
    width: 30px; }
    .FairyTail.container__inner
    .FairyTail__content
    .FairyTail__Slider
    .slick-arrow.slick-arrow:hover,
    .OurTrip .container__item_second .OurTrip_Slider .slick-arrow.slick-arrow:hover,
    .Pop_up.Active .Pop_up__window .Pop_up__slider .slick-arrow.slick-arrow:hover {
      transform: scale(1.35);
      top: 46%; }

  .slick-prev.slick-arrow {
    left: 2px; }

  .slick-next.slick-arrow {
    right: 2px; }

  .Hotel .container__item__second .text .text_images {
    grid-template-columns: 1fr; }

  .Hotel .container__item__second .text .text_images .blok.first, .Hotel .container__item__second .text .text_images .blok.second, .Hotel .container__item__second .text .text_images .blok.threeth, .Hotel .container__item__second .text .text_images .blok.fourth, .Hotel .container__item__second .text .text_images .blok.fifth, .Hotel .container__item__second .text .text_images .blok.sixth {
    height: 50px; }
    .Hotel .container__item__second .text .text_images .blok.first .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.second .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.threeth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fourth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fifth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.sixth .blok__background .blok__text {
      font-size: 18px; }

  .footer div.balloon:nth-child(15) {
    padding-top: 32%;
    width: 35%; }

  .Pop_up.Active .Pop_up__window {
    height: 30%; }

  .OurTrip .container__item_second .days {
    grid-row-gap: 20px; }

  div.balloon:nth-child(1) {
    display: none; } }
@media (max-width: 851px) {
  .container {
    padding: 0 20px; }

  .header .container .container__item__threeth div.balloon:nth-child(1) {
    right: 23px; }

  .FairyTail.container__inner .container__title .title,
  .FairyTail.container__inner .container__title .subtitle {
    padding: 0; }

  .Price .container__inner {
    width: 100%; }
    .Price .container__inner .subtitle {
      left: 0; }

  .OurTrip .subtitle {
    left: 0; }
  .OurTrip .container__item_second .OurTrip_Slider {
    display: flex;
    justify-content: center;
    align-items: center; }

  .slick-arrow:hover {
    transform: scale(1.2);
    top: 46%; }

  .menu,
  .menu__backgrount__blok {
    display: none; }

  .burger___menu {
    position: relative;
    background-color: chocolate;
    height: 90px;
    width: 100%;
    z-index: 1005; }
    .burger___menu .burger {
      position: relative;
      right: 0;
      top: 0;
      height: 100%;
      width: 60px;
      background-color: red;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between; }
      .burger___menu .burger span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 6px;
        width: 100%;
        background-color: #1df700; }
        .burger___menu .burger span::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: -30px;
          background-color: #f7de00;
          transition: all .5s; }
        .burger___menu .burger span::after {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: 30px;
          background-color: #0010f7;
          transition: all .5s; }
      .burger___menu .burger.Active span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 0;
        width: 100%;
        background-color: #003af7; }
        .burger___menu .burger.Active span::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: 0px;
          background-color: #15ff00;
          transform: rotate(-45deg); }
        .burger___menu .burger.Active span::after {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          top: 0px;
          background-color: #ef00f7;
          transform: rotate(45deg); }

  .menu {
    display: none;
    background-color: chocolate;
    top: 89px;
    text-align: center;
    padding: 0;
    position: absolute; }
    .menu ul li {
      display: block;
      padding: 10px;
      margin: 0; }

  .Hotel .container__title .subtitle {
    left: 0; }
  .Hotel .container__item__second {
    grid-template-columns: 1fr; }
    .Hotel .container__item__second .photo {
      display: none; } }

/*# sourceMappingURL=adaptive.css.map */
