@font-face {
  font-family: "balqis";
  src: url("../fonts/balqis.woff") format("woff"), url("../fonts/balqis.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}
body a {
  text-decoration: none;
  color: black;
}

.onescreen {
  height: 100vh;
}

p {
  font-size: 32px;
  line-height: 40px;
}

img {
  border-radius: 30px;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.container.Pop_up {
  max-width: 1240px;
  max-height: 1000px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}
.container.Pop_up .pop_up__contant {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.container.Pop_up .pop_up__contant input {
  padding-left: 0px;
  width: 130px !important;
  border: 1px solid white;
  background-color: #e2ab3f;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.container.Pop_up .pop_up__contant input:hover {
  color: #e2ab3f;
  background-color: white;
  border: 1px solid #e2ab3f;
}

.title {
  color: #eb1810;
  font-family: "balqis";
  font-size: 90px;
  text-align: center;
}

.subtitle {
  position: relative;
  padding-top: 10px;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

.container__title {
  padding: 70px;
}

input {
  width: 302px !important;
  height: 61px;
  background: transparent;
  border: 1px solid #e2ab3f;
  border-radius: 20px;
  display: inline-block;
  font-size: 23px;
  text-transform: uppercase;
}

.header,
.footer {
  height: 100vh;
  background-image: url("../imgs/Main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.Slider {
  width: 42%;
  position: relative;
  min-width: 0;
  height: 700px;
}
.Slider .slick-list {
  overflow: hidden;
  height: 100%;
}
.Slider .slick-track {
  display: flex;
  height: 100%;
}
.Slider .slick-arrow {
  position: absolute;
  z-index: 2000;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  height: 70px;
  width: 70px;
  padding: 0;
  border: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
}
.Slider .slick-arrow:hover {
  transform: scale(1.25);
  top: 45%;
}
.Slider .slick-prev.slick-arrow {
  left: 0;
  background-image: url("../imgs/icons/prev_arrow.svg");
}
.Slider .slick-next.slick-arrow {
  right: 0;
  background-image: url("../imgs/icons/next_arrow.svg");
}
.Slider img {
  width: 100%;
  max-height: 100%;
}
.Slider .slick-dots {
  display: none;
}
.Slider .slick-dots li {
  list-style: none;
}
.Slider .slick-dots li button {
  display: none;
}

.header {
  color: white;
}
.header .Slider {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header .Slider img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  filter: brightness(75%);
}
.header .container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.header .container .container__item:first-child {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 4%;
  font-size: 26px;
  z-index: 1;
}
.header .container .container__item:first-child .menu__first ul li,
.header .container .container__item:first-child .menu__second ul li {
  display: inline;
  margin-right: 52px;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  transition: all 0.5s;
}
.header .container .container__item:first-child .menu__first ul li:hover,
.header .container .container__item:first-child .menu__second ul li:hover {
  border-bottom: 2px solid white;
}
.header .container .container__item:first-child .menu__first ul li a,
.header .container .container__item:first-child .menu__second ul li a {
  color: white;
}
.header .container .container__item:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.header .container .container__item:nth-child(2) .header__title {
  font-family: "balqis";
  font-size: 200pt;
  text-align: center;
}
.header .container .container__item:nth-child(2) .header__subtitle {
  display: flex;
  justify-content: flex-end;
  font-size: 36px;
  font-style: italic;
  padding-right: 26%;
}
.header .container .container__item__threeth div.balloon {
  position: absolute;
}
.header .container .container__item__threeth div.balloon:nth-child(1) {
  right: 0;
  bottom: 0;
  animation: anim 12s infinite ease-in;
}
.header .container .container__item__threeth div.balloon:nth-child(2) {
  right: 10%;
  bottom: 0;
  animation: anim 12s infinite ease-in;
}
.header .container .container__item__threeth div.balloon:nth-child(3) {
  right: 22%;
  bottom: 0;
  animation: anim 20s infinite;
}
.header .container .container__item__threeth div.balloon:nth-child(4) {
  right: 32%;
  bottom: 0;
  animation: anim 17s infinite ease-in;
}
.header .container .container__item__threeth div.balloon:nth-child(5) {
  right: 48%;
  bottom: 0;
  animation: anim 18s infinite;
}
.header .container .container__item__threeth div.balloon:nth-child(6) {
  right: 55%;
  bottom: 0;
  animation: anim 22s infinite ease-in;
}
.header .container .container__item__threeth div.balloon:nth-child(7) {
  right: 60%;
  bottom: 0;
  animation: anim 12s infinite;
}
.header .container .container__item__threeth div.balloon:nth-child(8) {
  right: 66%;
  bottom: 0;
  animation: anim 10s infinite ease-in-out;
}
.header .container .container__item__threeth div.balloon:nth-child(9) {
  right: 70%;
  bottom: 0;
  animation: anim 13s infinite ease-in;
}
.header .container .container__item__threeth div.balloon:nth-child(10) {
  right: 75%;
  bottom: 0;
  animation: anim 15s infinite ease-in-out;
}
.header .container .container__item__threeth div.balloon:nth-child(11) {
  right: 80%;
  bottom: 0;
  animation: anim 10s infinite;
}
.header .container .container__item__threeth div.balloon:nth-child(12) {
  right: 86%;
  bottom: 0;
  animation: anim 14s infinite;
}
.header .container .container__item__threeth div.balloon:nth-child(13) {
  right: 90%;
  bottom: 0;
  animation: anim 17s infinite;
}
.header .container .container__item__threeth div.balloon:nth-child(14) {
  right: 97%;
  bottom: 0;
  animation: anim 13s infinite ease-in-out;
}
.header .container .container__item__threeth div.balloon:nth-child(15) {
  right: 20%;
  bottom: 0;
  animation: anim 12s infinite ease-in-out;
}
.header .container .container__item__threeth div.balloon:nth-child(16) {
  right: 40%;
  bottom: 0;
  animation: anim 9s infinite ease-in-out;
}
.header .container .container__item__threeth div.balloon:nth-child(17) {
  right: 50%;
  bottom: 0;
  animation: anim 10s infinite ease-in-out;
}
.header .container .container__item__threeth div.balloon:nth-child(18) {
  right: 100%;
  bottom: 0;
  animation: anim 15s infinite ease-in-out;
}
.header .container .container__item__threeth div.balloon:nth-child(19) {
  right: 8%;
  bottom: 0;
  animation: anim 15s infinite ease-in-out;
}

.FairyTail {
  position: relative;
  z-index: 1;
  background-color: white;
}
.FairyTail .onescreen .container .container__title .title {
  padding-left: 10%;
}
.FairyTail .onescreen .container .container__title .subtitle {
  padding-left: 19%;
}
.FairyTail .onescreen .container .FairyTail__item_second {
  display: flex;
  position: relative;
  min-width: 0;
}
.FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text {
  width: 58%;
  margin-left: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-size: 26px;
  line-height: 35px;
  max-width: 1200px;
  padding: 20px;
}
.FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text p + p {
  padding-top: 50px;
}

.OurTrip .onescreen .subtitle {
  left: 7%;
}
.OurTrip .onescreen .container__title .container.buttom,
.OurTrip .onescreen .container__title .container.text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.OurTrip .onescreen .container__title .container.buttom {
  margin-top: 70px;
}
.OurTrip .onescreen .container__item_second {
  display: flex;
}
.OurTrip .onescreen .container__item_second .days {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  justify-items: center;
}
.OurTrip .onescreen .container__item_second .days .text__blok {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  max-height: 350px;
}
.OurTrip .onescreen .container__item_second .days .text__blok .text__title {
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
}
.OurTrip .onescreen .container__item_second .our__slider {
  height: 900px;
  width: 84%;
  position: relative;
}
.OurTrip .onescreen .container__item_second .our__slider .slider__item {
  width: 100%;
  height: 100%;
}
.OurTrip .onescreen .container__item_second .our__slider .slider__item img {
  width: 100%;
  height: 100%;
}
.OurTrip .onescreen .container__item_second .Slider {
  height: 900px;
}

.Hotel .Pop-up {
  display: none;
  background-color: #000000bd;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.Hotel .Pop-up .contant__head {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}
.Hotel .Pop-up .main__contant {
  display: flex;
  flex-wrap: wrap;
  margin-top: 41px;
}
.Hotel .Pop-up .main__contant .pop_up__text {
  width: 30%;
  font-size: 24px;
  line-height: 33px;
  padding: 20px;
}
.Hotel .Pop-up .main__contant .pop_up__slider {
  position: relative;
  width: 70%;
}
.Hotel .Pop-up .main__contant .pop_up__slider .slick-list {
  overflow: hidden;
}
.Hotel .Pop-up .main__contant .pop_up__slider .slick-list.draggable, .Hotel .Pop-up .main__contant .pop_up__slider .slick-track {
  height: 100%;
  display: flex;
}
.Hotel .Pop-up .main__contant .pop_up__slider .slick-arrow {
  position: absolute;
  z-index: 2000;
  top: 50%;
  font-size: 0;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  border: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
}
.Hotel .Pop-up .main__contant .pop_up__slider .slick-arrow:hover {
  transform: scale(1.25);
  top: 45%;
}
.Hotel .Pop-up .main__contant .pop_up__slider .slick-prev.slick-arrow {
  background-image: url("../imgs/icons/prev_arrow.svg");
}
.Hotel .Pop-up .main__contant .pop_up__slider .slick-next.slick-arrow {
  right: 0;
  background-image: url("../imgs/icons/next_arrow.svg");
}
.Hotel .Pop-up .main__contant .pop_up__slider img {
  border-radius: 0;
  height: 100%;
  width: 100%;
}
.Hotel .Pop-up .main__contant .RoomEquipment {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0 70px;
  margin-top: 60px;
}
.Hotel .Pop-up .main__contant .RoomEquipment .RoomEquipment__item {
  display: flex;
  align-items: center;
}
.Hotel .Pop-up .main__contant .RoomEquipment .RoomEquipment__item .item__text {
  padding-left: 20px;
}
.Hotel .Pop-up .main__contant .RoomEquipment .RoomEquipment__item img {
  height: 40px;
  width: 40px;
}
.Hotel .subtitle {
  left: 112px;
}
.Hotel .container__item__second {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.Hotel .container__item__second .photo {
  position: relative;
  height: 100%;
}
.Hotel .container__item__second .text {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  position: relative;
}
.Hotel .container__item__second .text .text_images {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  justify-items: center;
}
.Hotel .container__item__second .text .text_images .blok {
  background-color: #eb1810;
  height: 250px;
  width: 400px;
  position: relative;
}
.Hotel .container__item__second .text .text_images .blok.first, .Hotel .container__item__second .text .text_images .blok.second, .Hotel .container__item__second .text .text_images .blok.threeth, .Hotel .container__item__second .text .text_images .blok.fourth, .Hotel .container__item__second .text .text_images .blok.fifth, .Hotel .container__item__second .text .text_images .blok.sixth {
  background: url("../imgs/rooms/FairyChimneySuite/Main.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.Hotel .container__item__second .text .text_images .blok.first .blok__background, .Hotel .container__item__second .text .text_images .blok.second .blok__background, .Hotel .container__item__second .text .text_images .blok.threeth .blok__background, .Hotel .container__item__second .text .text_images .blok.fourth .blok__background, .Hotel .container__item__second .text .text_images .blok.fifth .blok__background, .Hotel .container__item__second .text .text_images .blok.sixth .blok__background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-color: #0000008a;
  cursor: pointer;
}
.Hotel .container__item__second .text .text_images .blok.first .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.second .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.threeth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fourth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.fifth .blok__background .blok__text, .Hotel .container__item__second .text .text_images .blok.sixth .blok__background .blok__text {
  font-size: 30px;
  color: white;
}
.Hotel .container__item__second .text .text_images .blok.first:hover .blok__background, .Hotel .container__item__second .text .text_images .blok.second:hover .blok__background, .Hotel .container__item__second .text .text_images .blok.threeth:hover .blok__background, .Hotel .container__item__second .text .text_images .blok.fourth:hover .blok__background, .Hotel .container__item__second .text .text_images .blok.fifth:hover .blok__background, .Hotel .container__item__second .text .text_images .blok.sixth:hover .blok__background {
  opacity: 0;
}
.Hotel .container__item__second .text .text_images .blok.second {
  background-image: url("../imgs/rooms/SultanSuite/Main.jpg");
}
.Hotel .container__item__second .text .text_images .blok.threeth {
  background-image: url("../imgs/rooms/");
}
.Hotel .container__item__second .text .text_images .blok.fourth {
  background-image: url("../imgs/rooms/");
}
.Hotel .container__item__second .text .text_images .blok.fifth {
  background-image: url("../imgs/rooms/");
}
.Hotel .container__item__second .text .text_images .blok.sixth {
  background-image: url("../imgs/rooms/");
}
.Hotel .container__item__second .text .text_images img {
  width: 500px;
  height: 295px;
}
.Hotel .container__item__second .text p:nth-child(3) {
  padding-bottom: 50px;
}
.Hotel .container__item__second p + p {
  padding-top: 20px;
}

.Price {
  height: 100vh;
  display: flex;
  align-items: center;
}
.Price:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/backgrounds/Uchisar-Castle-Guided-Cappadocia-Tours.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px) opacity(90%);
}
.Price .container {
  height: auto;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.Price .subtitle {
  left: 110px;
}
.Price .container__item__second {
  display: flex;
  font-size: 21px;
  line-height: 35px;
  padding-top: 100px;
  padding-left: 70px;
  margin-bottom: 150px;
}
.Price .container__item__second .blok__title {
  font-weight: bold;
  padding-bottom: 50px;
  font-size: 26px;
}
.Price .container__item__second .blok_first,
.Price .container__item__second .blok_second {
  position: relative;
  width: 50%;
}
.Price .container__item__second .blok_first p + p,
.Price .container__item__second .blok_second p + p {
  padding-top: 20px;
}
.Price .container__item__second .blok_first .bigBalloon,
.Price .container__item__second .blok_second .bigBalloon {
  position: absolute;
  top: -60%;
  right: 7%;
}
.Price .container__item__second .blok_first .smallBallon,
.Price .container__item__second .blok_second .smallBallon {
  position: absolute;
  top: 15%;
  right: 30%;
}
.Price .container__item__second .blok_first .smallBallon__second,
.Price .container__item__second .blok_second .smallBallon__second {
  position: absolute;
  top: 50%;
  right: 19%;
}
.Price .container__item__second .blok_second {
  padding-left: 70px;
}

.Attractions {
  height: 100%;
}
.Attractions .Slider {
  top: 50%;
  transform: translateY(-50%);
  width: 65%;
  max-height: 80%;
  background-color: white;
  z-index: 0;
  margin: 0 auto;
}
.Attractions .Slider .slick-list {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Attractions .Slider .item {
  display: flex;
  padding: 40px;
  padding-left: 0;
}
.Attractions .Slider .item .item__text {
  width: 50%;
  padding: 40px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}
.Attractions .Slider .item .item__text.text__title {
  padding: 20px;
}
.Attractions .Slider .item .item__text p {
  padding-top: 20px;
}
.Attractions .Slider .item .item__text ul {
  font-size: 18px;
  line-height: 25px;
  padding-top: 20px;
}
.Attractions .Slider .item .text__tittle {
  font-size: 48px;
}
.Attractions .Slider .item .item__pictures {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.Attractions .Slider .slick-prev.slick-arrow {
  left: -100px;
}
.Attractions .Slider .slick-next.slick-arrow {
  right: -100px;
}
.Attractions .Slider img {
  width: 100%;
  border-radius: 0;
}
.Attractions .Slider .slick-dots {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 35px;
  z-index: 999;
}
.Attractions .Slider .slick-dots li {
  display: inline-block;
}
.Attractions .Slider .slick-dots li.slick-active button {
  background-color: #7e7e81;
}
.Attractions .Slider .slick-dots li button {
  display: block;
  height: 10px;
  width: 10px;
  font-size: 0;
  border-radius: 50%;
  padding: 0;
  border: none;
  margin-right: 5px;
}

.Attractions::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/backgrounds/Atracrions.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(3px) opacity(90%);
}

.BookNow {
  position: relative;
  z-index: 1;
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}
.BookNow .pop_up {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff5100;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.9s ease 0s;
}
.BookNow .pop_up .pop_up__content {
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  background-color: #60eb10;
}
.BookNow .container {
  height: auto;
  width: 100%;
}
.BookNow .container__item__threeth {
  display: flex;
  justify-content: center;
}
.BookNow .container__item__threeth .blok__text {
  position: relative;
  padding-top: 105px;
  width: 50%;
}
.BookNow .container__item__threeth .blok__text .title,
.BookNow .container__item__threeth .blok__text .subtitle {
  position: relative;
  text-align: end;
  right: 201px;
  left: auto;
  display: block;
  padding: 5px 0;
}
.BookNow .container__item__threeth .blok__text .subtitle {
  right: 163px;
}
.BookNow .container__item__threeth form {
  padding-top: 100px;
  width: 360px;
  position: absolute;
  top: 350px;
  right: 163px;
}
.BookNow .container__item__threeth form h1 {
  display: block;
  width: 100%;
  padding-bottom: 50px;
  font-size: 24px;
  text-align: center;
}
.BookNow .container__item__threeth form input {
  display: block;
  width: 100% !important;
  height: 50px;
  padding-left: 31px;
}
.BookNow .container__item__threeth form input + input {
  margin-top: 20px;
}
.BookNow .container__item__threeth form input:last-child {
  padding-left: 0px;
  margin: 20px auto 0 auto;
  width: 280px !important;
  border: 1px solid white;
  background-color: #e2ab3f;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.BookNow .container__item__threeth form input:last-child:hover {
  color: #e2ab3f;
  background-color: white;
  border: 1px solid #e2ab3f;
}
.BookNow .container__item__threeth .photo {
  position: relative;
  width: 50%;
}
.BookNow .container__item__threeth .photo img {
  width: 600px;
  height: 800px;
  border-radius: 30px;
}

.footer div.balloon {
  position: absolute;
}
.footer div.balloon:nth-child(1) {
  right: 10%;
  bottom: 0;
  animation: anim 12s infinite ease-in;
}
.footer div.balloon:nth-child(2) {
  right: 17%;
  bottom: 0;
  animation: anim 16s infinite;
}
.footer div.balloon:nth-child(3) {
  right: 22%;
  bottom: 0;
  animation: anim 20s infinite;
}
.footer div.balloon:nth-child(4) {
  right: 32%;
  bottom: 0;
  animation: anim 17s infinite ease-in;
}
.footer div.balloon:nth-child(5) {
  right: 48%;
  bottom: 0;
  animation: anim 18s infinite;
}
.footer div.balloon:nth-child(6) {
  right: 55%;
  bottom: 0;
  animation: anim 22s infinite ease-in;
}
.footer div.balloon:nth-child(7) {
  right: 60%;
  bottom: 0;
  animation: anim 12s infinite;
}
.footer div.balloon:nth-child(8) {
  right: 66%;
  bottom: 0;
  animation: anim 10s infinite ease-in-out;
}
.footer div.balloon:nth-child(9) {
  right: 70%;
  bottom: 0;
  animation: anim 13s infinite ease-in;
}
.footer div.balloon:nth-child(10) {
  right: 75%;
  bottom: 0;
  animation: anim 15s infinite ease-in-out;
}
.footer div.balloon:nth-child(11) {
  right: 80%;
  bottom: 0;
  animation: anim 10s infinite;
}
.footer div.balloon:nth-child(12) {
  right: 86%;
  bottom: 0;
  animation: anim 14s infinite;
}
.footer div.balloon:nth-child(13) {
  right: 90%;
  bottom: 0;
  animation: anim 17s infinite;
}
.footer div.balloon:nth-child(14) {
  right: 97%;
  bottom: 0;
  animation: anim 10s infinite ease-in-out;
}
.footer div.balloon:nth-child(15) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../imgs/BalloonContacts.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50%;
  width: 19%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 26px;
  padding-top: 120px;
}
.footer div.balloon:nth-child(15) .number,
.footer div.balloon:nth-child(15) .email {
  padding: 10px;
}
.footer div.balloon:nth-child(15) .number {
  padding-top: 33px;
}
.footer div.balloon:nth-child(15) .socoial__media ul {
  list-style: none;
  display: flex;
  padding-top: 55px;
}
.footer div.balloon:nth-child(15) .socoial__media ul li + li {
  margin-left: 15px;
}
.footer div.balloon:nth-child(15) .socoial__media img {
  height: 35px;
  width: 35px;
  transition: all 0.5s;
}
.footer div.balloon:nth-child(15) .socoial__media img:hover {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes anim {
  0% {
    bottom: -10%;
    transform: translateX(15px) rotate(7deg);
  }
  20% {
    transform: translateX(25px) rotate(-7deg);
  }
  40% {
    transform: translateX(20px) rotate(9deg);
  }
  60% {
    transform: translateX(15px) rotate(-9deg);
  }
  80% {
    transform: translateX(15px) rotate(5deg);
  }
  100% {
    bottom: 110%;
    transform: translateX(15px) rotate(0deg);
  }
}
