@font-face {
  font-family: 'balqis';
  src: url("../fonts/balqis.woff") format("woff"), url("../fonts/balqis.woff2") format("woff2");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}
body a {
  text-decoration: none;
  color: black;
}

.onescreen {
  height: 100vh;
}

p {
  font-size: 32px;
  line-height: 40px;
}

img {
  border-radius: 30px;
}

.container {
  max-width: 2300px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.title {
  color: #eb1810;
  font-family: 'balqis';
  font-size: 90px;
}

.subtitle {
  display: inline;
  position: relative;
  padding-top: 10px;
  font-style: italic;
  font-size: 38px;
}

.container__title {
  padding: 70px 0;
}

input {
  width: 302px !important;
  height: 61px;
  background: transparent;
  border: 1px solid #E2AB3F;
  border-radius: 20px;
  display: inline-block;
  font-size: 23px;
  text-transform: uppercase;
}

.header,
.footer {
  height: 100vh;
  background-image: url("../imgs/Main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.header .container .container__item:first-child {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 4%;
  font-size: 26px;
}
.header .container .container__item:first-child .menu__first ul li,
.header .container .container__item:first-child .menu__second ul li {
  display: inline;
  margin-right: 52px;
}
.header .container .container__item:first-child .menu__first ul li:hover,
.header .container .container__item:first-child .menu__second ul li:hover {
  border-bottom: 1px solid red;
}
.header .container .container__item:last-child {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header .container .container__item:last-child .header__title {
  font-family: 'balqis';
  font-size: 200pt;
  text-align: center;
}
.header .container .container__item:last-child .header__subtitle {
  display: flex;
  justify-content: flex-end;
  font-size: 36px;
  font-style: italic;
  padding-right: 26%;
}

.FairyTail .onescreen .container .container__title .title {
  padding-left: 10%;
}
.FairyTail .onescreen .container .container__title .subtitle {
  padding-left: 19%;
}
.FairyTail .onescreen .container .FairyTail__item_second {
  display: flex;
}
.FairyTail .onescreen .container .FairyTail__item_second .FairyTail_slider {
  border: 1px solid #dbdbdb;
}
.FairyTail .onescreen .container .FairyTail__item_second .FairyTail_slider .slider__item img {
  height: 100%;
  width: 100%;
}
.FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text {
  margin-left: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-size: 26px;
  line-height: 35px;
  max-width: 1200px;
  padding: 20px;
}
.FairyTail .onescreen .container .FairyTail__item_second .FairyTail.text p + p {
  padding-top: 50px;
}

.OurTrip .onescreen .subtitle {
  left: 10%;
}
.OurTrip .onescreen .container__title .container.buttom,
.OurTrip .onescreen .container__title .container.text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.OurTrip .onescreen .container__title .container.buttom {
  margin-top: 70px;
}
.OurTrip .onescreen .container__item_second {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.OurTrip .onescreen .container__item_second .days {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.OurTrip .onescreen .container__item_second .days .text__blok {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  max-height: 350px;
}
.OurTrip .onescreen .container__item_second .days .text__blok .text__title {
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
}
.OurTrip .onescreen .container__item_second .our__slider {
  border: 1px solid #e7490a;
  height: 900px;
  position: relative;
}
.OurTrip .onescreen .container__item_second .our__slider .slider__item {
  width: 100%;
  height: 100%;
}
.OurTrip .onescreen .container__item_second .our__slider .slider__item img {
  width: 100%;
  height: 100%;
}

.Hotel .subtitle {
  left: 112px;
}
.Hotel .container__item__second {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.Hotel .container__item__second .photo {
  position: relative;
  height: 100%;
}
.Hotel .container__item__second .text {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  position: relative;
}
.Hotel .container__item__second .text .text_images {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  justify-items: center;
}
.Hotel .container__item__second .text .text_images img {
  width: 500px;
  height: 295px;
}
.Hotel .container__item__second .text p:nth-child(3) {
  padding-bottom: 50px;
}
.Hotel .container__item__second p + p {
  padding-top: 20px;
}

.Price {
  height: 100vh;
  display: flex;
  align-items: center;
}
.Price .container {
  height: auto;
}
.Price .subtitle {
  left: 110px;
}
.Price .container__item__second {
  display: flex;
  font-size: 21px;
  line-height: 35px;
  padding-top: 100px;
  margin-bottom: 150px;
}
.Price .container__item__second .blok__title {
  font-weight: bold;
  padding-bottom: 50px;
  font-size: 26px;
}
.Price .container__item__second .blok_first,
.Price .container__item__second .blok_second {
  position: relative;
  width: 50%;
}
.Price .container__item__second .blok_first p + p,
.Price .container__item__second .blok_second p + p {
  padding-top: 20px;
}
.Price .container__item__second .blok_first .bigBalloon,
.Price .container__item__second .blok_second .bigBalloon {
  position: absolute;
  top: -67%;
  right: -5%;
}
.Price .container__item__second .blok_first .smallBallon,
.Price .container__item__second .blok_second .smallBallon {
  position: absolute;
  top: 15%;
  right: 30%;
}
.Price .container__item__second .blok_first .smallBallon__second,
.Price .container__item__second .blok_second .smallBallon__second {
  position: absolute;
  top: 50%;
  right: 14%;
}
.Price .container__item__second .blok_second {
  padding-left: 70px;
}

.BookNow {
  position: relative;
  z-index: 1;
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}
.BookNow .container {
  height: auto;
  width: 100%;
}
.BookNow .container__item__threeth {
  display: flex;
  justify-content: center;
}
.BookNow .container__item__threeth .blok__text {
  position: relative;
  padding-top: 105px;
}
.BookNow .container__item__threeth .blok__text .title,
.BookNow .container__item__threeth .blok__text .subtitle {
  position: relative;
  text-align: end;
  right: 201px;
  left: auto;
  display: block;
  padding: 5px 0;
}
.BookNow .container__item__threeth .blok__text .subtitle {
  right: 163px;
}
.BookNow .container__item__threeth form {
  padding-top: 100px;
  width: 360px;
  position: absolute;
  top: 350px;
  right: 163px;
}
.BookNow .container__item__threeth form h1 {
  display: block;
  width: 100%;
  padding-bottom: 50px;
  font-size: 24px;
  text-align: center;
}
.BookNow .container__item__threeth form input {
  display: block;
  width: 100% !important;
  height: 50px;
  padding-left: 31px;
}
.BookNow .container__item__threeth form input + input {
  margin-top: 20px;
}
.BookNow .container__item__threeth form input:last-child {
  padding-left: 0px;
  margin: 20px auto 0 auto;
  width: 280px !important;
}
.BookNow .container__item__threeth .photo {
  position: relative;
  width: 600px;
  height: 800px;
}
.BookNow .container__item__threeth .photo img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.footer {
  position: relative;
}
.footer div.balloon {
  position: absolute;
}
.footer div.balloon:nth-child(1) {
  right: 10%;
  bottom: 0;
  animation: anim 12s infinite ease-in;
}
.footer div.balloon:nth-child(2) {
  right: 17%;
  bottom: 0;
  animation: anim 16s infinite;
}
.footer div.balloon:nth-child(3) {
  right: 22%;
  bottom: 0;
  animation: anim 20s infinite;
}
.footer div.balloon:nth-child(4) {
  right: 32%;
  bottom: 0;
  animation: anim 17s infinite ease-in;
}
.footer div.balloon:nth-child(5) {
  right: 48%;
  bottom: 0;
  animation: anim 18s infinite;
}
.footer div.balloon:nth-child(6) {
  right: 55%;
  bottom: 0;
  animation: anim 22s infinite ease-in;
}
.footer div.balloon:nth-child(7) {
  right: 60%;
  bottom: 0;
  animation: anim 12s infinite;
}
.footer div.balloon:nth-child(8) {
  right: 66%;
  bottom: 0;
  animation: anim 10s infinite ease-in-out;
}
.footer div.balloon:nth-child(9) {
  right: 70%;
  bottom: 0;
  animation: anim 13s infinite ease-in;
}
.footer div.balloon:nth-child(10) {
  right: 75%;
  bottom: 0;
  animation: anim 15s infinite ease-in-out;
}
.footer div.balloon:nth-child(11) {
  right: 80%;
  bottom: 0;
  animation: anim 10s infinite;
}
.footer div.balloon:nth-child(12) {
  right: 86%;
  bottom: 0;
  animation: anim 14s infinite;
}
.footer div.balloon:nth-child(13) {
  right: 90%;
  bottom: 0;
  animation: anim 17s infinite;
}
.footer div.balloon:nth-child(14) {
  right: 97%;
  bottom: 0;
  animation: anim 10s infinite ease-in-out;
}
.footer div.balloon:nth-child(15) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../imgs/BalloonContacts.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50%;
  width: 19%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  padding-top: 170px;
}
.footer div.balloon:nth-child(15) .number,
.footer div.balloon:nth-child(15) .email {
  padding: 10px;
}
.footer div.balloon:nth-child(15) .number {
  padding-top: 33px;
}
.footer div.balloon:nth-child(15) .socoial__media ul {
  list-style: none;
  display: flex;
  padding-top: 55px;
}
.footer div.balloon:nth-child(15) .socoial__media ul li + li {
  margin-left: 10px;
}
@keyframes anim {
  0% {
    bottom: -10%;
    transform: translateX(15px) rotate(7deg);
  }
  20% {
    transform: translateX(25px) rotate(-7deg);
  }
  40% {
    transform: translateX(20px) rotate(9deg);
  }
  60% {
    transform: translateX(15px) rotate(-9deg);
  }
  80% {
    transform: translateX(15px) rotate(5deg);
  }
  100% {
    bottom: 110%;
    transform: translateX(15px) rotate(0deg);
  }
}
