@media (max-width: 2100px) {
  .container {
    padding: 0 40px;
  }
  .parallax {
    height: 600px;
  }
  p {
    font-size: 26px;
    line-height: 35px;
  }

  .container__title {
    padding: 0 70px 35px;
  }

  .OurTrip .container__item_second .days .text__blok .text__title {
    font-size: 30px;
  }
  .FairyTail.container__inner .FairyTail__content .FairyTail.text p + p {
    padding-top: 10px;
  }
  .Price .container__item__second {
    padding: 30px;
    .blok__title {
      padding-bottom: 20px;
    }
  }
  .Price .container__item__second .blok_first p + p,
  .Price .container__item__second .blok_second p + p {
    padding-top: 15px;
  }
}
@media (max-width: 2020px) {
  .Hotel .container__item__second {
    grid-template-columns: 1fr 3fr;
    .text .text_images .blok {
      height: 200px;
      width: 350px;
    }
  }
}
@media (max-width: 1827px) {
  .Hotel .container__item__second .text .text_images {
    grid-template-columns: repeat(2, 1fr);
  }
  .Hotel .container__item__second .text .text_images .blok {
    width: 100%;
  }
  .footer div.balloon:nth-child(15) {
    width: 23%;
  }
}
@media (max-width: 1601px) {
  .Hotel .container__item__second .text .text_images .blok {
    height: 150px;
  }
  .menu__backgrount__blok {
    padding: 3%;
  }
}

@media (max-width: 1501px) {
  .menu {
    padding: 1%;
    font-size: 18px;
    ul li {
      margin-right: 29px;
    }
  }
  .menu__backgrount__blok {
    padding: 2%;
  }
  .parallax {
    height: 400px;
  }
  p {
    font-size: 22px;
    line-height: 30px;
  }
  .header .container .container__item:nth-child(2) .header__title {
    font-size: 150px;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    padding-top: 0;
    font-size: 23px;
  }
  .container__inner {
    margin: 30px 0;
  }
  .container__title {
    padding: 0 70px 25px;
  }

  .Price .container__inner {
    width: 90%;
    margin: 30px auto;
  }
  .Price .container__item__second .blok_second {
    .smallBallon {
      width: 10%;
    }
    .bigBalloon {
      top: -35%;
      height: 57%;
    }
  }
  .Attractions .Attractions__Slider {
    max-height: 80%;
    .item {
      display: flex;
      padding: 20px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .text__tittle {
        font-size: 26px;
      }
      .item__text {
        width: 100%;
        padding: 15px 0;
        ul,
        p {
          font-size: 18px;
          line-height: 23px;
          padding-left: 10px;
        }
      }
      .item__pictures {
        width: 100%;
      }
      img {
        max-width: 50%;
      }
    }
  }
  .Hotel .container__item__second .text {
    margin-left: 30px;
  }
  .Hotel .container__item__second p + p {
    padding-top: 10px;
  }
  .Hotel .container__item__second .text p:nth-child(3) {
    padding-bottom: 20px;
  }
  .Hotel .container__item__second .text .text_images {
    grid-gap: 15px;
  }
  .Hotel .container__item__second .text .text_images .blok {
    &.first,
    &.second,
    &.threeth,
    &.fourth,
    &.fifth,
    &.sixth {
      height: 120px;
      .blok__background {
        .blok__text {
          font-size: 23px;
        }
      }
    }
  }

  .BookNow .container__item__threeth .photo {
    display: flex;
    justify-content: center;
    img {
      max-width: 60%;
    }
  }
  .BookNow .container__item__threeth {
    .blok__text {
      .title{right: 0;}
      .subtitle{right: 0;}
      form {
        top: auto;
        padding-top: 0;
        right: 0;
        h1{
          padding-bottom: 30px;
        }
      }
    }
  }
  .footer div.balloon:nth-child(15) {
    width: 32%;
    height: 80%;
}
}
