@font-face {
    font-family: 'balqis';
    src: url('../fonts/balqis.woff') format('woff'),
        url('../fonts/balqis.woff2') format('woff2')       
    ;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
}
$titleColor:#eb1810;
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    a{
        text-decoration: none;
        color: black;
    }
}
.onescreen{
    height: 100vh;
}
p{
    font-size: 32px;
    line-height: 40px;
}
img{
    border-radius: 30px;
}
.container{
    max-width: 2300px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.title{
    color: $titleColor;
    font-family: 'balqis';
    font-size: 90px;
}
.subtitle{
    display: inline;
    position: relative; 
    padding-top: 10px;
    font-style: italic;
    font-size: 38px;
}

.container__title{
    padding: 70px 0;
}


input{
    width: 302px !important;
    height: 61px;
    background: transparent;
    border: 1px solid #E2AB3F;
    border-radius: 20px;
    display: inline-block;
    font-size: 23px;
    text-transform: uppercase;   
}

.header,
.footer{
    height: 100vh;
    background-image: url('../imgs/Main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    .container{
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        .container__item:first-child{
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-top: 4%;
            font-size: 26px;
            
            .menu__first ul li,
            .menu__second ul li{
                display: inline;
                margin-right: 52px;
                &:hover{
                    border-bottom: 1px solid red;
                    
                }
            }
            .header__number::before{
                position: absolute;
                top: auto;
                right: 10%;
                content: ' ';
                background-image: url('../imgs/icons/Phone.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 30px;
                width: 30px;
            }
        }
        .container__item:last-child{
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .header__title{
                font-family: 'balqis';
                font-size: 200pt;  
                text-align: center;     
            }
            .header__subtitle{
                display: flex;
                justify-content: flex-end;
                font-size: 36px;
                font-style: italic;
                padding-right: 26%;
            }
        }
    }
}

.FairyTail{
   .onescreen{
        .container{
            .container__title{
                & .title{
                    padding-left: 10%;
                }
                & .subtitle{
                    padding-left: 19%;
                }
            }
            .FairyTail__item_second{
                display: flex;
                .FairyTail_slider{
                    border: 1px solid rgb(219, 219, 219);
                    
                    .slider__item img{
                        height: 100%;
                        width: 100%;
                    }
        
                }
                .FairyTail.text{
                    margin-left: 50px;
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                    border-radius: 30px;
                    font-size: 26px;
                    line-height: 35px;
                    max-width: 1200px;
                    padding: 20px;
                    p + p{
                        padding-top: 50px;
                    }
                }
            }
            
            
        }      
   } 
}

.OurTrip{
    .onescreen{
        .subtitle{
            left: 10%;
        }    
        
        .container__title{
            .container.buttom,
            .container.text{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .container.buttom{
                margin-top: 70px;
            }
        }    

        .container__item_second{
            display: grid;
            grid-template-columns: 3fr 2fr ;
            .days{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                .text__blok{
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                    border-radius: 30px;
                    padding: 20px;
                    width: 400px;
                    max-height: 350px;
                    
                    .text__title{
                        font-size: 35px;
                        text-align: center;
                        padding-bottom: 10px;
                    }
                }
            }

            .our__slider{
                border: 1px solid rgb(231, 73, 10);
                height: 900px;    
              
                position: relative;
                .slider__item{
                    width: 100%;
                    height: 100%;
                    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                    
            }
            
        }
    }
   
}

.Hotel{
    .subtitle{
        left: 112px;
        } 
 
    .container__item__second{
        display: grid;
        grid-template-columns: 1fr 2fr;

        .photo{
            position: relative;
            height: 100%;
        }
        .text{
            display: flex;
            flex-direction: column;
            padding-left: 100px;
            position: relative;
            .text_images{
                display: grid;
                position: relative;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 30px;
                justify-items: center;

                img{
                    width: 500px;
                    height: 295px;
                }
            }
            
            & p:nth-child(3){
                padding-bottom: 50px;
            }
        }

        p+p{
            padding-top: 20px;
        }
        
    }   
}

.Price{ 
    height: 100vh;
    display: flex;
    align-items: center;
    & .container{
        height: auto;
    }        
        .subtitle{
            left: 110px;
        }
        .container__item__second{
            display: flex;
            font-size: 21px;
            line-height: 35px;
            padding-top: 100px;
            margin-bottom: 150px;
            .blok__title{
                font-weight: bold;
                padding-bottom: 50px;
                font-size: 26px;
            }
            .blok_first,
            .blok_second{
                position: relative;
                width: 50%;
                p+p{
                    padding-top: 20px;
                }
                .bigBalloon{
                    position: absolute;
                    top: -67%;
                    right: -5%;
                }
                .smallBallon{
                    position: absolute;
                    top: 15%;
                    right: 30%;
                }
                .smallBallon__second{
                    position: absolute;
                    top: 50%;
                    right: 14%;
                }
            }    
            .blok_second{
                padding-left: 70px;
            }
        } 
}

.BookNow{
    height: 100vh;
    display: flex;
    align-items: center;
    & .container{
        height: auto;
        width: 100%;
    }        
    .container__item__threeth{
        display: flex;
        justify-content: center;
        .blok__text{
            position: relative;
            padding-top: 105px;
            .title,
            .subtitle{
                position: relative;
                text-align: end;
                right: 201px;
                left: auto;
                display: block;
                padding: 5px 0;
            }
            .subtitle{
                right: 163px;
            }
        }
        form{
            padding-top: 100px;
            width: 360px;
            position: absolute;
            top: 350px;
            right: 163px;
            
            h1{
                display: block;
                width: 100%;
                padding-bottom: 50px; 
                font-size: 24px;
                text-align: center;
               
            }
            input{
                display: block;
                width: 100% !important;
                height: 50px;
                padding-left: 31px;

            }
            input+input{
                margin-top: 20px;
                   
            }
            input:last-child{
                padding-left: 0px;
                margin: 20px auto 0 auto;
                width: 280px !important;
            }
        }
        .photo{
            position: relative;
            width: 600px;
            height: 800px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 30px;
            }
        }
    }
}

.footer{
    .Contacts{
        background-image: url('../imgs/BalloonContacts.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 50%;
        width: 19%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 21px;
        position: relative;
        padding-top: 4%;
        .title{
            font-size: 86px;
            margin-bottom: 50px;
        } 
        .number{
            padding-bottom: 20px;
        }
        .number::after{
            position: absolute;
            top: 34%;
            left: 24%;
            content: ' ';
            background-image: url('../imgs/icons/phone2.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;
        }
        .email{
            padding-bottom: 38px;
        }
        .email::after{
            position: absolute;
            top: 40%;
            left: 14%;
            content: ' ';
            background-image: url('../imgs/icons/mail.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;
        }
        .socoial__media ul li{
            display: inline-block;
            position: relative;
            height: 40px;
            width: 40px;
            img{
                width: 100%;
                height: 100%;
            }
            +li{
                margin-left: 15px;
                
            }

        }
    }
    .footer__title{
        padding-left: 186px;
        font-family: 'balqis';
        font-size: 95px;
    }
}