@font-face {
    font-family: 'balqis';
    src: url('../fonts/balqis.woff') format('woff'),
        url('../fonts/balqis.woff2') format('woff2')       
    ;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
}
$titleColor:#E2AB3F;
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    a{
        text-decoration: none;
        color: black;
        
        &:hover{
            text-decoration: underline; 
        }
    }
}
.onescreen{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.container{
    margin: 0 auto;
    position: relative;
    padding-top: 100px;
}
.title{
    color: $titleColor;
    font-family: 'balqis';
    font-size: 96px;
}
.subtitle{
    font-style: italic;
    font-size: 24px;
    position: relative;
    display: inline; 
}

input{
    width: 280px !important;
    height: 50px;
    background: transparent;
    border: 1px solid #E2AB3F;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    
}

.header,
.footer{
    width: 100vw;
    height: 100vh;
    background-image: url('../imgs/Main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header__container{
    max-width: 928px;
    margin: 0 auto;

    .container__item:first-child{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 72px;
        font-size: 24px;
        
        .menu ul li{
            display: inline;
            margin-right: 52px;
        }
        .header__number::before{
            position: absolute;
            top: auto;
            right: 190px;
            content: ' ';
            background-image: url('../imgs/icons/Phone.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;
        }
    }
    .container__item:last-child{
        position: relative;
        top: 252px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .header__title{
            font-family: 'balqis';
            font-size: 250px;       
        }
        .header__subtitle{
            display: flex;
            justify-content: flex-end;
            font-size: 56px;
            font-style: italic;
        }
    }
}

.FairyTail{
   .onescreen{
        .container{
            margin: 0;
            grid-column: span 10;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            width: 100% ;
            
            .FairyTail__item{
                grid-column: 1/11;
                
                & .title{
                    padding-left: 360px;
                }
                & .subtitle{
                    padding-left: 541px;
                }
            }
            .FairyTail_slider{
                grid-column: 1/7;
                height: auto;
                .slider__item img{
                    height: 100%;
                    width: 100%;

                }
    
            }
            .FairyTail.text{
                grid-column: 7/11;
                font-size: 18px;
                line-height: 21px;
                padding: 50px 0px 50px 55px;
                
                p + p{
                    padding-top: 50px;
                }
            }
            
        }      
   } 
}

.OurTrip{
    .onescreen{
        .container{
            padding: 0;
            width: 100%;
        }
        >.container{
            padding-top: 100px;
            grid-column: 3/13;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            
            .container__item_first{
                grid-column: 1/5;
            }

            .container__item_second{
                grid-column: 5/11;
                height: auto;
                background-color: aqua;
                position: relative;
            }
        }
        .subtitle{
            left: 205px;
        }
        .text{
            padding-top: 100px;
            .text__blok{
                padding-bottom: 50px;
                line-height: 21px;
                .text__title{
                    padding-bottom: 20px;
                }
            }
        }

        .container__item_second{
            .our__slider img{
                position: absolute;
                height: 100%;
                width: 100%;
            }    
        }

    }    
}

.Hotel{
    .container{
        grid-column: 3/11;
        display: flex;
        flex-direction: column;
        margin: 0; 
        
        .subtitle{
            left: 112px;
        } 
    } 
    
    .container__item__second{
        display: flex;
        padding-top: 100px;
        .text{
            display: flex;
            flex-direction: column;
            padding-left: 100px;
            position: relative;
            .text_images{
                width: 100%;
                height: 100%;
                display: grid;
                position: relative;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 50px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
            
            & p:nth-child(3){
                padding-bottom: 80px;
            }
        }
        p+p{
            padding-top: 20px;
            font-size: 18px;
            line-height: 21px;
        }
        
    }   
}

.Price{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 224px;
    .container{
        grid-column: 3/11;
        display: flex;
        flex-direction: column;
        margin: 0;
        .subtitle{
            left: 110px;
        }

        .container__item__second{
            display: flex;
            font-size: 18px;
            line-height: 21px;
            padding-top: 100px;
            margin-bottom: 200px;
            .blok__title{
                font-weight: bold;
                padding-bottom: 50px;
                font-size: 24px;
            }
            .blok_first,
            .blok_second{
                position: relative;
                width: 50%;
                p+p{
                    padding-top: 20px;
                }
                .bigBalloon{
                    position: absolute;
                    top: -67%;
                    right: -5%;
                }
                .smallBallon{
                    position: absolute;
                    top: 15%;
                    right: 30%;
                }
                .smallBallon__second{
                    position: absolute;
                    top: 72%;
                    right: 20%;
                }
            }    
            .blok_second{
                padding-left: 70px;
            }
        }
        .container__item__threeth{
            display: flex;
            .blok__text{
                width: 50%;
                position: relative;
                padding-top: 105px;
                .title,
                .subtitle,
                {
                    position: relative;
                    text-align: end;
                    right: 201px;
                    left: auto;
                    display: block;
                }
                .subtitle,
                {
                    right: 163px;
                    
                }
            }
            form{
                padding-top: 100px;
                width: 360px;
                position: absolute;
                top: 350px;
                right: 163px;
                
                h1{
                    display: block;
                    width: 100%;
                    padding-bottom: 50px; 
                    font-size: 24px;
                    text-align: center;
                   
                }
                input{
                    display: block;
                    width: 100% !important;
                    height: 50px;
                    padding-left: 31px;

                }
                input+input{
                    margin-top: 20px;
                       
                }
                input:last-child{
                    padding-left: 0px;
                    margin: 20px auto 0 auto;
                    width: 280px !important;
                }

            }
            


            .photo{
                position: relative;
                width: 600px;
                height: 800px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    .Contacts{
        background-image: url('../imgs/BalloonContacts.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 50%;
        width: 19%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        position: relative;
        padding-top: 4%;
        .title{
            font-size: 86px;
            margin-bottom: 50px;
        } 
        .number{
            padding-bottom: 20px;
        }
        .number::after{
            position: absolute;
            top: 38%;
            left: 20%;
            content: ' ';
            background-image: url('../imgs/icons/phone2.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;
        }
        .email{
            padding-bottom: 38px;
        }
        .email::after{
            position: absolute;
            top: 45%;
            left: 10%;
            content: ' ';
            background-image: url('../imgs/icons/mail.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;
        }
        .socoial__media ul li{
            display: inline-block;
            +li{
                padding-left: 15px;
            }
        }
    }
    .footer__title{
        padding-left: 186px;
        font-family: 'balqis';
        font-size: 86px;
    }
}